* {
  margin: 0;
  padding: 0;
}

h2{
  padding: 20px;
}

.contents{
  border-style: solid;
  width: 50%;
  position: relative;
}

.contents p{
  font-size: 20px;
}

span{
  font-weight: bold;
  margin-right: 20px;;
}

body{
  background-color: white;  
  font-size: 20px;
  text-align: center;
}

.myCenterWrapper{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

table{
  width: 20%;
  position: relative;
}

.navbar {
  position: relative;
  background-color: #4CAF50;;
  overflow: hidden;
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 2px;
  cursor: pointer;
}

.navbar a {
  text-align: center;
  float: left;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}
.imagebox {
  width: 100vw;
  height: 30vh;
}

#imagebanner{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

footer{
  bottom: 30px;
  margin-top: 20px;
}

.blogs{
  margin-top: 20px;
}

.blogsection{
  margin: 20px 0px 20px;
  padding-bottom: 20px;
  border-style: solid;
}

.positingpic{
  position: relative;
  height: 20%;
  width: auto;
  padding: 50px;
}

@media screen and (min-width: 320px) {
    p {
        font-size: 30px;
    }
  }

@media screen and (min-width: 768px) {
    p {
        font-size: 25px;
    }
  }

@media screen and (min-width: 1200px) {
    p {
        font-size: 20px
    }
  }